h1
{
border-style:solid;
border-color:white;
border-width:1000000%;
border-radius:10010000px;
position:absolute;
padding:100px  200px  240px 150px;
margin:200px  1500px  1500px  300px;
background-image:url(images/ram.jpg)

}

